@import url('./generaluser.css');

article {
    width: 100%;
    max-width: 600px;
    row-gap: 15px;
}

.bgwhite {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    margin: 5px 0px;
}

.wrap {
    padding-top: 30px;
}

.row {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.col {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #b1b1b1;
    margin: 5px 5px;
    padding: 10px;
    border-radius: 15px;
}

.rel {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
    position: relative;
}



.pre {
    white-space: pre-line;
}

.buttons {
    margin-top: 0px;
}

.buttons button {
    width: 20%;
    border-radius: 20px;
    padding: 20px 0px;
    margin-left: 75%;
}

.row_c p {
    margin: 1px 3px;
}
